<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    
  
  <div class="container-fluid">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="nav-link active" aria-current="page" href={% url 'customer:customer-list' %}>CLIENTES</a>
            <a class="nav-link active" aria-current="page" href={% url 'service:service-list' %}>SERVIÇOS</a>
            <a class="nav-link active" aria-current="page" href={% url 'employee:employee-list' %}>FUNCIONÁRIOS</a>
            <a class="nav-link active" aria-current="page" href={% url 'attendance:attendance-list' %}>ORDENS DE SERVIÇO</a>
          </div>
        </div>
         
        <a href="{% url 'logout' %}">
          <button class="btn btn-danger" type="submit">SAIR</button>
        </a>
      
      </div>
    </div>
  </nav>